{# src/TodoCerdo/TodoCerdoBundle/Resources/views/Page/about.html.twig #}
{% extends 'TodoCerdoTodoCerdoBundle::layout.html.twig' %}

{% block title %}Sobre{% endblock%}

{% block body %}
    <header>
        <h1>La empresa</h1>
    </header>
    <article>
        <p>TODO CERDO es una tienda virtual donde podrá hacer pedidos diarios de lo que usted necesita para su hogar en cuanto a variedad de cortes frescos de carne de cerdo. Con TODO CERDO usted ya no tendrá que preocuparse de comprar la carne para la semana. Por el contrario esta le llegará a su casa de acuerdo a sus gustos y necesidades.
El servicio de TODO CERDO es sinónimo de máxima calidad en cortes frescos de carne de cerdo y productos elaborados con carne de cerdo.
Contamos con proveedores que nos aseguran la inocuidad de los cortes y cumplen con todas las normas de sanidad, siendo habilitados por los organismo de control correspondientes.</p>
<p>Es por esto que TODO CERDO los invita que disfuten de nuestro servicio y a que formen parte de nuestra selecta clientela.</p>
<h1>Misión</h1>	
<p>¿Tenes invitados? ¿No tenes tiempo para ir de compras? ¿Estás muy ocupado para salir de tu casa? ¿No queres hacer cola para comprar tu mercaderia? ¿Queres algo de calidad?
TODO CERDO tiene la respuesta. Con solo llamarnos, nosotros le surtiremos de la mas amplia variedad de cortes y elaborados de cerdo. Lo mejor de todo sin moverse de su casa u oficina.</p>
<p>En la pagina de TODO CERDO tendrá una sección completa de recetas donde usted aprenderá las técnicas de coccion, y para que puede utilizar cada corte de cerdo y sus diferentes presentaciones para sorprender a su familia e invitados..</p>
    </article>
{% endblock %}
