{# src/TodoCerdo/TodoCerdoBundle/Resources/views/Page/faq.html.twig #}
{% extends 'TodoCerdoTodoCerdoBundle::layout.html.twig' %}

{% block title %}Preguntas Frecuentes{% endblock%}

{% block body %}
    <header>
        <h1>Preguntas Frecuentes</h1>
    </header>
    <article>
	<p>Pregunta:</p>
        <p>¿Es necesario registrarme para hacer un pedido?</p>
        <p>Respuesta:</p>
        <p>Si lo es, por razones de seguridad y para que el servicio funcione correctamente.</p>
    </article>
{% endblock %}
