{# src/TodoCerdo/TodoCerdoBundle/Resources/views/Page/slide1.html.twig #}


{% block body %}
{#TodoCerdo en este caso vendria a ser un blog, una entrada de blog. no confundir con el proyecto todocerdo #}
    {% for flashMessage in app.session.FlashBag.get('message-notice') %}

    <div class="message-notice">
        {{ flashMessage }}
    </div>
{% endfor %} 
    <div class="container">
    <section class="cr-container">				
		<input id="select-img-1" name="radio-set-1" type="radio" class="cr-selector-img-1" checked/>
		<label for="select-img-1" class="cr-label-img-1">1</label>
				
		<input id="select-img-2" name="radio-set-1" type="radio" class="cr-selector-img-2" />
		<label for="select-img-2" class="cr-label-img-2">2</label>
				
		<input id="select-img-3" name="radio-set-1" type="radio" class="cr-selector-img-3" />
		<label for="select-img-3" class="cr-label-img-3">3</label>
				
		<input id="select-img-4" name="radio-set-1" type="radio" class="cr-selector-img-4" />
		<label for="select-img-4" class="cr-label-img-4">4</label>
				
		<div class="clr"></div>	
		<div class="cr-bgimg">
			<div>
                            <span>Slice 1 - Image 1</span>
		            <span>Slice 1 - Image 2</span>
			    <span>Slice 1 - Image 3</span>
			    <span>Slice 1 - Image 4</span>
				</div>
					<div>
						<span>Slice 2 - Image 1</span>
						<span>Slice 2 - Image 2</span>
						<span>Slice 2 - Image 3</span>
						<span>Slice 2 - Image 4</span>
					</div>
					<div>
						<span>Slice 3 - Image 1</span>
						<span>Slice 3 - Image 2</span>
						<span>Slice 3 - Image 3</span>
						<span>Slice 3 - Image 4</span>
					</div>
					<div>
						<span>Slice 4 - Image 1</span>
						<span>Slice 4 - Image 2</span>
						<span>Slice 4 - Image 3</span>
						<span>Slice 4 - Image 4</span>
					</div>
				</div>
				<div class="cr-titles">
					<h3><span>Granja</span><span>La biotecnologia </span></h3>
					<h3><span>Frigorifico</span><span>La seguridad  </span></h3>
					<h3><span>Todo Cerdo</span><span>La mejor carne</span></h3>
					<h3><span>Tu Mesa</span><span>Lo mas rico </span></h3>
				</div>
			</section>
        </div>
{% endblock %}
{# empty Twig template #}
