{# confirmar pedido: Pedido #}
{# src/TodoCerdo/TodoCerdoBundle/Resources/views/Pedido/confirmarPedido.html.twig #}

{% extends 'TodoCerdoTodoCerdoBundle::layout.html.twig' %}

{% block title %}Confirmar Pedido{% endblock%}

{% block body %}
    
    <header>
    <h2>Confirmar Pedido</h2>
    </header>
    
{% endblock %}
