{# Plantilla que forma parte de la plantilla darUbicacion. Va del lado izquierdo. #}
{% extends 'TodoCerdoTodoCerdoBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
   <link href="{{ asset('bundles/todocerdotodocerdo/css/pedido.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block title %}darUbicacion{% endblock%}

{% block body %}
    <header>
        <h1>Dar Ubicación</h1>
    </header>
    
<input type="checkbox" name="Opcion1" value="#"> Casa <br>
<input type="checkbox" name="Opcion2" value="#"> Casa de guille <br>
<input type="checkbox" name="Opcion3" value="#"> Casa de patricio <br>
{% endblock %}
