{# empty Twig template #}
<center>
            <div class="message-notice">{{mensaje}}</div>
        </center>
<div class="botones">
    <a href="{{ path('TodoCerdoTodoCerdoBundle_productos')}}"><button>Continuar Comprando</button></a>
    
</div>