{# empty Twig template #}
<p>Su carrito est&aacute; vac&iacute;o. Por favor continue comprando</p>

<div class="botones">
    <a href="{{ path('TodoCerdoTodoCerdoBundle_productos')}}"><button>Continuar Comprando</button></a>
    
</div>