.button {
    padding:5px;
    border-top:0px solid #555;
    border-bottom:0px solid #555;
    border-left: 0px solid #555;
    border-right: 0px solid #555;
    
    color: #5c4831;
    width:150px;
    margin:0 auto;
    font-family: 'Quattrocento Sans',sans-serif;
    
    font-size:1.05em;
    /*text-transform:uppercase;*/
    position:relative;
    overflow: hidden;
    cursor:pointer;
     
    /*-moz-box-shadow: 1px 1px 1.5px #000;
    -webkit-box-shadow: -2px 2px 5px #000;
    box-shadow: -2px 2px 5px #000;*/
     
    /*-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;*/
    background: #FFCC00; 
        
    /*background: rgb(17,17,17); /* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(62,44,5,1) 50%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(62,44,5,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(62,44,5,1) 50%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(17,17,17,1) 50%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(62,44,5,1) 50%,rgba(51,51,51,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom, rgba(62,44,5,1) 50%,rgba(62,44,5,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}
     
.button:hover {
    background: #555;
    color: #F0F0EE;
    /*background: rgb(34,34,34); /* Old browsers */
    /*background: -moz-linear-gradient(top, rgba(34,34,34,1) 50%, rgba(68,68,68,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(34,34,34,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, rgba(34,34,34,1) 50%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, rgba(34,34,34,1) 50%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(34,34,34,1) 50%,rgba(68,68,68,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom, rgba(73,55,6,1) 50%,rgba(73,55,6,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}
     
.button span {
    position:relative;
    z-index:1;
    display:block;
    color:gold;
    text-shadow:0px -2px 0px #000;
}
 
     
.button .highlight {
    position:absolute;
    top:-50px;
    left:50%;
    margin-left:-250px;
    z-index:0;
    width: 500px;
    height: 130px;
         
    -moz-border-radius: 250px / 50px;
    -webkit-border-radius: 250px / 50px;
    border-radius: 250px / 50px;
     
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 50%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 50%,rgba(255,255,255,0.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(255,255,255,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */
}        





.link_navegacion {
    
    color: #5c4831;
    float: left;
    margin-left: 1em;
    margin-top: 53px;
    font-family: 'Quattrocento Sans',sans-serif;
    font-size:1.05em;
}