/*----Productos-----*/
.prod-title {font-family: 'Lobster'; font-size:16px; font-weight: bold; line-height:17px; color:#3E2C05; text-decoration:none; margin-bottom: 10px; text-align: center; }
.prod-line{color:#3E2C05; background-color:#3E2C05; width: 80%; margin-bottom: 10px; text-align: center; border:0px; height: 1px;}
/*Column 190px: Start*/
div.column-190_prod { width:160px; padding-right:29px; margin-right:29px; float:left;}
div.column-190_prod.last { margin-right:0; padding-right:0;}

div.column-190_prod { margin-bottom:20px;}
div.column-190_prod h3 { font-size:20px; padding-bottom:10px;}

ul.column-190_prod { margin:20px 0 0 0; float:left; width:100%;}
ul.column-190_prod li { width:192px; padding:0 20px; float:left;}
/*ul.column-190 li:hover { background:#f5f5f5;}*/

/*Column 190px: End*/

/*Highlight one: Start*/
.highlight-one { padding:20px 0; min-height:270px; }
.highlight-one img { display:block; border: 1px solid #FBF4BB; overflow:hidden; width: 186px; height: 135px; background-position: center top; background-repeat: no-repeat; margin-bottom: 10px; }
.highlight-one img:hover { border: 1px solid #3E2C05;}
.highlight-one dl { margin: 0; font-size:12px;}
.highlight-one dl dt { float:left; font-weight:700; margin-right:4px; color:#666;}
.highlight-one dl dd { color:#666;}
.highlight-one dl dd a { /*display:block; height: 36px; width: auto; border: none;*/}
.highlight-one dl dd a:hover { border: none}
.highlight-one a.recipe-title { display:block; border: none; margin-bottom:10px; }
.highlight-one strong { font-weight: normal; }
.highlight-one a.show-name { text-transform:uppercase; display:block; margin-bottom:2px; font-size:11px;}

ul.column-190 li .highlight-one{ border:none; min-height:235px; }
ul.column-190 li.last {  }

strong.tit-ingredientes {  margin-bottom:2px;}
#receta_right span { display:block; color: #555;}
#receta_rating span { display:inline;}

h1.recipes { font-size:24px;line-height:24px;letter-spacing:normal;font-weight:100;padding-top:30px!important;padding-bottom:10px!important;color: #666;}
	
