{#Cambia el campo de formulario de tipo select a checkbox #}
{% block checkbox_widget %}
{% spaceless %}
    <label  for="{{ id }}"><input id="{{id}}" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </label>
{% endspaceless %}
{% endblock checkbox_widget %}